In [1]:
import pandas as pd

In [2]:
import gtfparse

In [5]:
gtf_df = gtfparse.read_gtf("../CellRangerGenes.gtf")

INFO:root:Extracted GTF attributes: ['gene_id', 'gene_version', 'gene_name', 'gene_source', 'gene_biotype', 'transcript_id', 'transcript_version', 'transcript_name', 'transcript_source', 'transcript_biotype', 'tag', 'transcript_support_level', 'exon_number', 'exon_id', 'exon_version', 'protein_id', 'protein_version', 'ccds_id']

In [8]:
map_df = gtf_df[["gene_name", "gene_id"]].drop_duplicates()

In [112]:
id_list = pd.read_csv("DEgene_names.csv", index_col=0)

In [113]:
id_list["xsplit"] = id_list["x"].str.split("-1", expand=True)[0]

In [114]:
id_list[id_list["xsplit"] != id_list["x"]]

              x   xsplit
511   POLR2J3-1  POLR2J3
4661     ERV3-1     ERV3
6316    MATR3-1    MATR3

In [115]:
mapping_df = id_list.merge(map_df, left_on=["xsplit"], right_on=["gene_name"], how="left")#.to_csv("mapping_ENSGID.csv", index=False)

In [116]:
mapping_df[mapping_df["gene_name"].isna()]

           x xsplit gene_name gene_id
4662  ERV3-1   ERV3       NaN     NaN

In [117]:
id_list.at[4661, "xsplit"] = 'ERV3-1'

In [118]:
mapping_df = id_list.merge(map_df, left_on=["xsplit"], right_on=["gene_name"], how="left")#.to_csv("mapping_ENSGID.csv", index=False)

In [119]:
mapping_df[mapping_df["gene_name"].isna()]

Empty DataFrame
Columns: [x, xsplit, gene_name, gene_id]
Index: []

In [120]:
mapping_df.to_csv("mapping_ENSGID.csv", index=False)

In [108]:
mapping_df[mapping_df["gene_name"] == "POLR2J3"]

             x   xsplit gene_name          gene_id
511  POLR2J3-1  POLR2J3   POLR2J3  ENSG00000168255
512  POLR2J3-1  POLR2J3   POLR2J3  ENSG00000285437

In [109]:
map_df[map_df["gene_name"] == "POLR2J3"]

       gene_name          gene_id
991066   POLR2J3  ENSG00000168255
991335   POLR2J3  ENSG00000285437

In [110]:
mapping_df[mapping_df["gene_name"] == "MATR3"]

            x xsplit gene_name          gene_id
6318  MATR3-1  MATR3     MATR3  ENSG00000280987
6319  MATR3-1  MATR3     MATR3  ENSG00000015479

In [111]:
map_df[map_df["gene_name"] == "MATR3"]

       gene_name          gene_id
759504     MATR3  ENSG00000280987
759851     MATR3  ENSG00000015479